<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ todo_list }}</h1>
        <p>
          <a href="{% url 'edit_todo_list' todo_list.id  %}">Edit</a>

        </p>
        <p>
           <a href="{% url 'delete_todo_list' todo_list.id %}">Delete</a>
        </p>

        <h2>Tasks</h2>
      </div>
      <table>
        <thead>
          <tr>
            <th>Task</th>
            <th>Due date</th>
          </tr>
        </thead>
        <tbody>
          {% for item in todo_list.items.all %}
          <tr>
            <td>{{ item.task }}</td>
            <td>{{ item.due_date }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
